:root {
    --pre: #F8F4E1;
    --sec: #391a05;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red: red;
}

@font-face {
    font-family: aeonik;
    src: url(./aeonik.ttf);
}

@font-face {
    font-family: aeonik2;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pre);
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 2vw;
    padding-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2vw;
    position: absolute;
}

.elem {
    background-color: #FEBA17;
    height: 42vh;
    width: 17.4vw;
    border-radius: .5vw;
    overflow: hidden;
    position: relative;
    transition: all ease 0.25s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 4%;
    font-weight: 400;
    font-size: 1.6vw;
    right: 5%;
}

.elem:active {
    scale: .97;
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: #391a05;
    padding: 1.9vw;
    display: none;
    position: absolute;
}

.back {
    position: absolute;
    padding: .9vw 1.3vw;
    border-radius: .7vw;
    background-color: var(--red);
    border: none;
    right: 5%;
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
}

.back:active {
    scale: .97;
}


.todo-list-fullpage h2 {
    font-size: 3.87vw;
}

.todo-list-fullpage .todo-container {
    height: 80%;
    width: 100%;
    margin-top: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
    width: 33%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 1.4vw;
}

.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 1.4vw;
}


.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6vw;
}

.todo-container .addTask form #task-input {
    padding: .7vw 1.2vw;
    width: 100%;
    outline: none;
    color: var(--sec);
    margin-bottom: 1vw;
    background-color: var(--pre);
    font-size: 1.6vw;
    border-radius: .3vw;
    border: none;
}

.todo-container .addTask form textarea {
    padding: .7vw 1.2vw;
    width: 100%;
    outline: none;
    margin-bottom: 1vw;
    background-color: var(--pre);
    font-size: 1.6vw;
    border-radius: .3vw;
    border: none;
    color: var(--sec);
}

.todo-container .addTask form button {
    padding: .6vw 1.2vw;
    width: 100%;
    outline: none;
    margin-bottom: 2vw;
    background-color: var(--tri1);
    font-size: 1.6vw;
    font-weight: 700;
    border-radius: .3vw;
    border: none;
    transition: all ease .2s;
    cursor: pointer;
}

.todo-container .addTask form button:active {
    scale: .97;
}


.todo-list-fullpage .todo-container .allTask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6vw;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pre);
    padding: 1vw 2vw;
    border-radius: .8vw;
    margin-bottom: .5vw;
    position: relative;
}

.task summary {
    color: var(--sec);
    font-size: 1.5vw;
    display: flex;
    align-items: flex-start;
    gap: .5vw;
    cursor: pointer;
}

.task summary span {
    background-color: var(--red);
    border-radius: 4vw;
    padding: 4px 8px;
    font-size: .7vw;
}

.task summary span.true {
    opacity: 1;
}

.task summary span.false {
    opacity: 0;
}

.task button {
    background-color: green;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    border: none;
    font-size: 1vw;
    font-weight: 600;
}

.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: .5vw;
    margin-bottom: .7vw;
    gap: 2vw;
}

.mark-imp input {
    scale: 1.5;
}

.mark-imp label {
    font-size: 1vw;
}

details {
    color: var(--sec);
    width: 70%;
}

details p {
    color: #391a05;
}

.daily-planner-fullpage{
    display: block;
}

.daily-planner-fullpage h2{
    font-size: 3.8vw;
}

.daily-planner-fullpage .day-planner{
    height: 85%;
    width: 100%;
    background-color: var(--tri2);
    margin-top: 2vw;
    border-radius: .5vw;
    padding: 1.5vw;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: .8vw;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 2.4%;
    font-size: .9vw;
    color: var(--tri1);
}

.day-planner .day-planner-time input{
    background-color: var(--sec);
    padding: 1.2vw 2.5vw;
    width: 100%;
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-top: 1.9vw;
}